
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    position: relative;

    .banner-wrap {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }

    &#main-banner {
        padding-top: 5.375rem;
        padding-bottom: 5.375rem;
    }

    &#about-banner, &#contact-banner {
        padding-top: 6.5rem;
        padding-bottom: 3.25rem;
    }
}
