/* ----------------------------------------------------------------

	Contact.scss

-----------------------------------------------------------------*/
#contact {
	background-color: $white;
	padding: 2.5rem;

	input,select {
		border-bottom: 1px solid #cdcdcd;
	}
	
	input[type=text], input[type=email] {
		height: 3rem;
	}

	select {
		padding-bottom: 0.8rem ;
		font-size: 0.825rem;
	}

	label {
		color: #a09f9f;
		font-size: 0.825rem;
		font-family: $body-font;
		display: block;
		margin-bottom: -1rem;
		padding-left: 0.8rem;
	}

	button {
		font-size: 0.8rem;
		padding: 1.2rem 3.5rem;
		font-family: $body-font;
		font-weight: 700;

		i {
			font-size: 0.9rem;
			margin-left: 0.5rem;
		}
	}

	p {
		font-weight: 500;
	}
}