
/*-----------------------------------------------------------------------------------

	Form: form.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Form Styles
-----------------------------------------------------------------*/
#subscribe {
	input{
		border-bottom: 1px solid $white;
	}

	label {
		color: $white;
		display: block;
		margin-bottom: -1rem;
	}
}