
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: 3rem; 
	position: relative;
	
	.title {
		color: $secondary;
		font-weight: 700;
		letter-spacing: 0.1rem;
		line-height: 1.2;
	}
}